<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.fedlet.anystik"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <queries>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.REGISTER"/>
        </intent>
        <package android:name="io.heckel.ntfy"/>
        <package android:name="org.unifiedpush.distributor.sunup"/>
    </queries>

    <application
        android:name="io.fedlet.mobutil.AnystikApplication"
        android:hardwareAccelerated="true"
        android:label="anystik"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:fullBackupOnly="false"
        android:enableOnBackInvokedCallback="false">
        <activity
            android:name="io.fedlet.mobutil.ShareActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

          <meta-data
                android:name="android.app.lib_name"
                android:value="anystik" />

          <meta-data
                android:name="android.app.arguments"
                android:value="" />
        </activity>

        <activity
            android:name="io.fedlet.mobutil.ShareReceiverActivity"
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.qtprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qtprovider_paths"/>
        </provider>
    <service

        android:name="io.fedlet.mobutil.KeepAliveService"

        android:foregroundServiceType="dataSync"

        android:exported="false"/>

    <service
        android:name="io.fedlet.mobutil.PushServiceImpl"
        android:exported="false">
        <intent-filter>
            <action android:name="org.unifiedpush.android.connector.PUSH_EVENT"/>
        </intent-filter>
    </service>
    <receiver
        android:name="io.fedlet.mobutil.BootReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>
    </application>
</manifest>
